// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #F1BF00;
$brand-red:          #AA151B;

//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    100px !default;
//$navbar-margin-bottom:             $line-height-computed !default;
//$navbar-border-radius:             $border-radius-base !default;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
//$navbar-collapse-max-height:       340px !default;

//$navbar-default-color:             #777 !default;
$navbar-default-bg:                $brand-red; // #f8f8f8 !default;
//$navbar-default-border:            #f8f8f8 !default; // darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $brand-primary; // #777 !default;
$navbar-default-link-hover-color:          $brand-red; // #333 !default;
$navbar-default-link-hover-bg:             $brand-primary; //transparent !default;
$navbar-default-link-active-color:         $brand-red; // #555 !default;
$navbar-default-link-active-bg:            $brand-primary; // darken($navbar-default-bg, 6.5%) !default;
//$navbar-default-link-disabled-color:       #ccc !default;
//$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
//$navbar-default-brand-color:               $navbar-default-link-color !default;
//$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
//$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
//$navbar-default-toggle-hover-bg:           #ddd !default;
//$navbar-default-toggle-icon-bar-bg:        #888 !default;
//$navbar-default-toggle-border-color:       #ddd !default;

//== Typography

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Playfair Display", Georgia, "Times New Roman", Times, serif !default;
